:host([navigating]) [part~="cell"]::before {
	box-shadow:none !important;
}


[part~="row"]:hover > [part~="body-cell"] {
	background-color: var(--lumo-primary-color-10pct);
}

/* prevent overflow ellipsis on icon column */ 

[part~="row"] [part~="body-cell"].icon ::slotted(*)  {
	text-overflow:clip;
}

[part~="row"] [part~="body-cell"].icon-label ::slotted(*)  {
	padding-left:0px;
}


[part~="row"] [part~="body-cell"].warn-0 {
	background-color: var(--warn-0-color);
}

[part~="row"] [part~="body-cell"].warn-1 {
	background-color: var(--warn-1-color);
}

[part~="row"] [part~="body-cell"].warn-2 {
	background-color: var(--warn-2-color);
}



:host(.small-header) tr th ::slotted(*) {
	font-size: var(--lumo-font-size-xs);
	font-weight:500;
    text-overflow: clip;
    white-space: normal;
}

/* make the top header a different color */

:host(.profile-details) tbody [part~="row"] [part~="body-cell"][first-column] {
	font-weight:500;
	font-size: 12px;
}

:host(.profile-details)  thead [part~="row"][aria-rowindex="2"]  {
	display:none;
}

/* small-header is when we want a header that spans the entire table */

:host(.small-header) [part~="row"][aria-rowindex="1"] [part~="header-cell"][colspan]:not([colspan="1"])  {
	 background-color:var(--lumo-primary-color);

}

:host(.small-header) [part~="row"][aria-rowindex="2"] [part~="header-cell"]  {
	 background-color:var(--lumo-contrast-20pct);

}

:host(.small-header) tr[aria-rowindex="1"] th ::slotted(*) {
    white-space: pre-wrap;
}

:host(.small-header) [part~="row"] [part~="header-cell"][colspan]:not([colspan="1"])  {
	 background-color:var(--lumo-primary-color);

}

:host(.small-header) tr th[colspan]:not([colspan="1"]) ::slotted(*) {
	color:var(--lumo-primary-contrast-color);
	margin-bottom:10px;
	font-size:var(--lumo-font-size-m);
}

/* Give the table cells a side border */

:host(.small-header) tr th:not([first-column]):not([colspan]) {
    border-left:1px solid var(--lumo-contrast-20pct);
}

:host(.small-header) tr td:not([first-column]) {
    border-left:1px solid var(--lumo-contrast-20pct);
}





