
#header {
  height: var(--lumo-size-xl);
  margin-top:0px;
}

#header h1 {
  margin: 0;
}

#header .right .profile {
	font-weight:600;
}

#header .right iron-icon {
	color:var(--lumo-accent-color-4);
	background-color:var(--lumo-primary-color);
	padding:5px;
	border-radius:2em;
	width:var(--lumo-size-xxs);
	height:var(--lumo-size-xxs);
}

/*
vaadin-tab {
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-l);
  font-weight: 600;
  color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
  background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}

 */






.entities-view .count {
	font-size:var(--lumo-font-size-xs);
	font-weight:700;
	color:var(--lumo-accent-color-1);
}

.entities-view vaadin-grid {
	/* margin-top:0px; */
}


iron-icon.status-icon:hover {
	color:var(--lumo-contrast);
}


iron-icon.status-icon {
	/* color:var(--lumo-contrast-20pct); */
	color:var(--lumo-accent-color-4);
}

iron-icon.status-icon.failed {
	color:var(--lumo-error-color) !important;
}

iron-icon.status-icon.paused {
	 color:var(--lumo-contrast-20pct);
}

iron-icon.status-icon.running {
	color:var(--lumo-accent-color-1) !important;
	animation-name: spin;
  	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}



iron-icon.primary {
	color:var(--lumo-primary-color);
}

.helper-text {
    display: block;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-xs);
    line-height: var(--lumo-line-height-xs);
    transition: color 0.2s;
}


vaadin-details[theme=stacktrace] :not([slot=summary]) {
	font-size:var(--lumo-size-xxs);
}

vaadin-details[theme=stacktrace] {
	width:100%;
}

vaadin-vertical-layout.stacktrace {
	white-space:nowrap;
	font-size:var(--lumo-font-size-xxs);
}

vaadin-vertical-layout.stacktrace vaadin-vertical-layout::before {
	height:0px;
	display:none;
}


vaadin-notification-card[theme=error] h3 {
	color: var(--lumo-error-contrast-color);
	margin-top:0px;
	word-break: break-word;
}

vaadin-notification-card[theme=error] vaadin-details span[slot=summary]{
	color: var(--lumo-error-contrast-color);
}

/* Users View  */

.roles-column-list span {
	padding-right:4px;
	padding-left:4px;
	padding-bottom:4px;
	margin-right:4px;
	font-weight:600;
	border-radius:var(--lumo-border-radius);
}

.roles-column-list span.project_manager {
	background-color: #cefdce  ;
}

.roles-column-list span.administrator {
	background-color: #ffccd4 ;
}

.roles-column-list span.reviewer {
	background-color: #ceebfd ;
}

.roles-column-list span.reader {
	background-color: #FFFACD ;
}


 .version-change iron-icon {
	align-self: flex-end;
    padding-bottom: 8px;
    padding-right:16px;
    padding-left:16px;
 }

 .helper-text.warning span:nth-child(1){
 	font-weight: 700;
    margin-right: 8px;
    color: var(--lumo-warning-color);
 }

 .duplicate-connection {
    padding-top: 16px;
	margin-left: 32px;
 }

.connection-name {
	font-weight: 700;
}


 .quill-editor {
 margin-bottom:25px;
 }

 /* .invisible {
 	visibility:hidden;
 	display:none;
 } */

#logo .logo-text {
	color:var(--lumo-tint-70pct);
	font-weight:400;
	font-size:2.5em;
}

.login-view .logo-text {
	margin-top:50px;
	font-weight:400;
	font-size:6em;
}

.login-view .message {

}

.logo-text {
	 font-family: 'Righteous';
	 display:flex;
	align-items: center;
    display: flex;
}

.logo-text span:nth-child(1) {
	font-size:1.3em;
	margin-bottom: -.15em;
}



/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 background-color:Red !important;
 color:Red !important;
} */

/* div[part="input-field"] input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 background-color:Red !important;
 color:Red !important;
} */


/* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px red inset !important;
    box-shadow: 0 0 0 1000px red inset !important;
}

 */

/*
.slider{
  position:absolute;
  width:800px;
  height:5px;
  overflow-x: hidden;
}

.line{
  position:absolute;
  opacity: 0.4;
  background:#4a8df8;
  width:150%;
  height:5px;
}

.subline{
  position:absolute;
  background:#4a8df8;
  height:5px;
}
.inc{
animation: increase 2s infinite;
}
.dec{
animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
 from { left: -5%; width: 5%; }
 to { left: 130%; width: 100%;}
}
@keyframes decrease {
 from { left: -80%; width: 80%; }
 to { left: 110%; width: 10%;}
} */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}