.confirm-dialog h3 {
	margin-top:0px;
}

.confirm-dialog iron-icon {
	color:var(--lumo-accent-color-1); 
}

.confirm-dialog vaadin-button[theme='primary'] iron-icon {
	color:var(--lumo-accent-color-1); 
}

.confirm-dialog.warning iron-icon {
	color:var(--lumo-warning-color);
	width:var(--lumo-size-xl) !important;
	height:var(--lumo-size-xl) !important;
}