.login-view span.message {
	font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--lumo-accent-color-1);
}

.api-help {
	padding-left:8px;
}

.helper-text .type {
	color:var(--lumo-primary-text-color);
	font-sytle:italic;
}

/* new stuff */

.login-view .h1 {
	user-select:none;
}

.cryptools-login vaadin-text-field::part(label) ,  .cryptools-login vaadin-password-field::part(label){
	display:none;
}

.cryptools-login vaadin-login-form-wrapper::part(form-title) {
	display:none;
}

.cryptools-login vaadin-text-field , .cryptools-login vaadin-password-field {
	/* padding-top:0px;  */
}

.cryptools-login vaadin-text-field::before , .cryptools-login vaadin-password-field::before {
	margin:0px;
}

.cryptools-login vaadin-login-form-wrapper::part(form) {
	padding:0px;
}

.cryptools-login vaadin-login-form-wrapper vaadin-button {
	display:none;
}