
vaadin-vertical-layout[slot="drawer"]{
	background-color:var(--lumo-primary-color-80pct);
}

.menu {
	margin-left:0px;
	margin-right:0px;
	margin-top:16px;
	padding:0px;
}

.menu vaadin-horizontal-layout vaadin-button {
	font-size:var(--lumo-font-size-s);
	color:var(--lumo-accent-color-1);
}

.menu vaadin-horizontal-layout{
	padding-left:10px;
}

.menu a[router-link] {
	text-decoration-line:unset;
	
	padding-top:var(--lumo-space-m);
	padding-bottom:var(--lumo-space-m);
	padding-left:var(--lumo-space-s);
	margin:0px;
	border-left:10px solid transparent;
}

.menu a[router-link][highlight] {

	transition: background-color 0.25s ease;
	/* font-weight:500; */

	 border-left:10px solid var(--lumo-accent-color-1); 
}

.menu a[router-link][highlight], .menu a[router-link][highlight] iron-icon {
	color: var(--lumo-accent-color-1);

}
.menu a[router-link][highlight] iron-icon {
}



.menu a[router-link] , .menu a[router-link] iron-icon {
	color: var(--lumo-primary-contrast-color);
}



.menu a[router-link] {
	display: flex;
    align-items: center;
    font-weight: 400;
}
.menu a[router-link] iron-icon {
	width:20px;
	height:20px; 
	padding-right:8px;
	
}

.menu a.h3 {
	font-size:var(--lumo-font-size-s);
}

.menu hr {
	background-color: var(--lumo-accent-color-1); 
	margin-left:10px;
	margin-right:10px;
}

#logo {

  box-sizing: border-box;
  box-shadow: inset 0 -1px var(--lumo-contrast-10pct);
  /* padding: var(--lumo-space-xl) var(--lumo-space-m); */
  /* padding: var(--lumo-space-m); */
  background-color:var(--lumo-primary-color);
  /* padding-bottom:var(--lumo-space-m); */
 	 height:52px;
}
 
 #logo .name {
 	border-top:1px solid var(--lumo-primary-contrast-color);
 	border-bottom:1px solid var(--lumo-primary-contrast-color);
 }
#logo iron-icon {
	
	 color:var(--lumo-accent-color-3);
	 height:32px;
	 width:32px;
	
	} 

 #logo .h2 {
  	color: var(--lumo-primary-contrast-color);
	/* font-weight:700; */
	font-size:2em;
}

vaadin-app-layout::part(drawer) {
	width: var(--vaadin-app-layout-drawer-offset-size);
	border-right: 0px !important;
}
vaadin-app-layout {
	--vaadin-app-layout-drawer-offset-size: 200px;
}

