.patient-profile .data-points {
	flex-wrap:wrap;

}



.patient-profile .data-point:hover {
	cursor:pointer;
}

.patient-profile .data-point span {
	
}

.patient-profile .data-point iron-icon {
	width:var(--lumo-icon-size-s);
	height:var(--lumo-icon-size-s);
	margin-left:8px;
}


.patient-profile .data-points vaadin-button {
	background-color:var(--lumo-primary-color);
}

.patient-profile vaadin-button iron-icon {
	width:var(--lumo-icon-size-m);
	height:var(--lumo-icon-size-m);

}

.patient-profile .section-label {
	color:var(--lumo-primary-color);
	margin-left:15px
}

.patient-profile .section-type {
	font-size:.85em;
	font-weight:bold;
	margin-left:15px;
	
	/* background-color: var(--lumo-primary-color);
    color: var(--lumo-contrast-); */
    padding-left: 3px;
    padding-right: 3px;
}

.patient-profile span[slot=summary] iron-icon {
	width:var(--lumo-icon-size-m);
	height:var(--lumo-icon-size-m);

}

vaadin-accordion-panel span[slot=summary]:hover {
	cursor:pointer;
}

.patient-profile vaadin-details[theme~=section] {
	width:100%;
}