html {

	--lumo-clickable-cursor: pointer;

	--lumo-line-height-m: 1.4;
	--lumo-line-height-s: 1.2;
	--lumo-line-height-xs: 1.1;
	--lumo-size-xl: 3rem;
	--lumo-size-l: 2.5rem;
	--lumo-size-m: 2rem;
	--lumo-size-s: 1.75rem;
	--lumo-size-xs: 1.5rem;
	--lumo-size-xxs: 1.1rem;
	--lumo-space-xl: 1.875rem;
	--lumo-space-l: 1.25rem;
	--lumo-space-m: 0.625rem;
	--lumo-space-s: 0.3125rem;
	--lumo-space-xs: 0.1875rem;
	--lumo-font-size: 1rem;
	--lumo-font-size-xxxl: 1.75rem;
	--lumo-font-size-xxl: 1.375rem;
	--lumo-font-size-xl: 1.125rem;
	--lumo-font-size-l: 1rem;
	--lumo-font-size-m: 0.875rem;
	--lumo-font-size-s: 0.8125rem;
	--lumo-font-size-xs: 0.75rem;
	--lumo-font-size-xxs: 0.6875rem;

	--lumo-border-radius: .15em;

	/* Tints are used mostly in dark theme */
	--lumo-tint:hsl(var( --lumo-tint-hue),34%,50%);
   	--lumo-tint-5pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.3);
	--lumo-tint-10pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.37);
	--lumo-tint-20pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.44);
	--lumo-tint-30pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.5);
	--lumo-tint-40pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.57);
	--lumo-tint-50pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.64);
	--lumo-tint-60pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.7);
	--lumo-tint-70pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.77);
	--lumo-tint-80pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.84);
	--lumo-tint-90pct: hsla(var(--lumo-tint-hue), 0%, 100%, 0.9);

	/* shades are used in light theme */
	--lumo-shade: hsl(var( --lumo-shade-hue), 35%, 15%);
  	--lumo-shade-5pct: hsla(var( --lumo-shade-hue), 61%, 25%, 0.05);
	--lumo-shade-10pct: hsla(var( --lumo-shade-hue), 57%, 24%, 0.1);
	--lumo-shade-20pct: hsla(var( --lumo-shade-hue), 53%, 23%, 0.16);
	--lumo-shade-30pct: hsla(var( --lumo-shade-hue), 50%, 22%, 0.26);
	--lumo-shade-40pct: hsla(var( --lumo-shade-hue), 47%, 21%, 0.38);
	--lumo-shade-50pct: hsla(var( --lumo-shade-hue), 45%, 20%, 0.5);
	--lumo-shade-60pct: hsla(var( --lumo-shade-hue), 43%, 19%, 0.61);
	--lumo-shade-70pct: hsla(var( --lumo-shade-hue), 42%, 18%, 0.72);
	--lumo-shade-80pct: hsla(var( --lumo-shade-hue), 41%, 17%, 0.83);
	--lumo-shade-90pct: hsla(var( --lumo-shade-hue), 40%, 16%, 0.94);




	--lumo-primary-contrast-color: #FFF;

	--lumo-icon-size-s: 1.25em;
  	--lumo-icon-size-m: 1.5em;
 	--lumo-icon-size-l: 2.25em;
  	--lumo-icon-size: var(--lumo-icon-size-m);
  	--lumo-font-family:"Segoe UI";



  	--bc-light-blue: #ddf1f7;
   --bc-light-blue-60pct:hsla(194, 62%, 60%, 1);
   --bc-light-blue-50pct:hsla(194, 62%, 50%, 1);
   --bc-light-blue-40pct:hsla(194, 62%, 40%, 1);
   --bc-green: #6db43d;
   --bc-light-amber: #ffd24f;
   --bc-dark-amber: #faa634;

   --money-green:#4fc27f;
}

[theme~="light"] {

   /* bioclinica colors */

   --lumo-primary-hue:40;
	--lumo-primary-sat:4%;
	--lumo-primary-lit:14%;

   --lumo-primary-color: hsl(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit));
	--lumo-primary-color-10pct: hsla(var(--lumo-primary-hue),var(--lumo-primary-sat), var(--lumo-primary-lit), 0.1);
	--lumo-primary-color-50pct: hsla(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit), 0.5);
	--lumo-primary-color-70pct: hsla(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit), 0.70);
	--lumo-primary-color-80pct: hsla(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit), 0.80);


   --lumo-accent-color-1:#FB6107;
   --lumo-accent-color-2:var(--bc-light-amber);
   --lumo-accent-color-3:var(--bc-green);
   --lumo-accent-color-4:var(--bc-dark-amber);
   --lumo-accent-color-5:var(--bc-dark-amber);



	--lumo-tint-hue: 199;
	--lumo-shade-hue:199;

	--lumo-body-text-color: #03253a;
	--lumo-base-color: #fff;
	--lumo-success-color: #008F35;
	--lumo-success-text-color: #008F35;
	--lumo-error-color: #c83214;
	--lumo-error-text-color: #c83214;
	--lumo-warning-color: #fa8034;

  	--lumo-header-text-color:var(--lumo-primary-color);

  	--warn-0-color: #b34045;
	--warn-1-color: #FEAB6D;
	--warn-2-color: #fecf6d;



    }


    [theme~="dark"] {

    /* dark needs to change

    --lumo-shade: hsl(0, 0%, 10%);
    --lumo-primary-color: hsl(22, 96%, 47%);
    --lumo-primary-text-color: rgb(235, 89, 5);
    --lumo-shade-5pct: rgba(26, 26, 26, 0.05);

    */

    --lumo-primary-hue:210;
	--lumo-primary-sat:54%;
	--lumo-primary-lit:25%;

	--lumo-tint-hue: 199;
	--lumo-shade-hue:199;

	--lumo-base-color: #fff;
	--lumo-success-color: #008F35;
	--lumo-success-text-color: #008F35;
	--lumo-error-color: #c83214;
	--lumo-error-text-color: #c83214;

	  --lumo-accent-color-1:var(--bc-dark-amber);
   --lumo-accent-color-2:var(--bc-light-amber);
   --lumo-accent-color-3:var(--bc-green);
   --lumo-accent-color-4:var(--bc-light-blue-50pct);
   --lumo-accent-color-5:var(--bc-light-blue-40pct);

   --lumo-primary-color: hsl(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit));
	--lumo-primary-color-10pct: hsla(var(--lumo-primary-hue),var(--lumo-primary-sat), var(--lumo-primary-lit), 0.1);
	--lumo-primary-color-50pct: hsla(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit), 0.5);
	--lumo-primary-color-70pct: hsla(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit), 0.70);
	--lumo-primary-color-80pct: hsla(var(--lumo-primary-hue), var(--lumo-primary-sat), var(--lumo-primary-lit), 0.80);



    }

     [theme~="dark"] [slot~=drawer] ,  [theme~="dark"] [slot~=navbar]{
    	background-color:rgb(74,102,129);
    }



